<% if logged_in?(:site_admin) %>
  <nav class="blogcrumbs blue-links">
    <a href="<%= edit_blog_path(blog) %>"><i class="fas fa-edit"></i></a>
    <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/blogs/<%= blog.id %>"><i class="fas fa-trash-alt"></i></a>
  </nav>
<% end %>
