<div class="blog-post">
  <div class="blue-links">
    <h2 class="blog-post-title"><%= link_to blog.title.upcase, blog %></h2>
    <%= render partial: 'blogs/admin_actions', locals: {blog: blog} %>
  </div>

  <hr>
  <p><%= markdown(blog.body) %></p>
  <hr>

  <p class="blog-post-meta">
    Published <%= distance_of_time_in_words(blog.created_at, Time.now)%> ago
  </p>

</div>
