<div class="col-md-8 blog-main">

  <h1 class="text-white">Editing Blog</h1>

  <%= render 'form', blog: @blog %>

  <%= link_to 'Back', blog_path, class: "btn btn-secondary", id: "back-button" %>

</div>
