<div class="mt-5">

  <% unless current_user.is_a? GuestUser %>
    <%= form_for @comment, url: '#' do |f| %>
      <div class="form-group pt-3">
        <%= f.label :comment %>
        <%= f.text_area :content, class: 'form-control' %>
      </div>
  
      <%= f.submit 'Post Comment', class: 'btn btn-secondary' %>
    <% end %>
  <% end %>
</div>

<script type="text/javascript">

  $(document).ready(function(){
    $(".login-comment-btn").hover(function(e){
      $(this).addClass("btn-on");
    }, function(e){
      $(this).removeClass("btn-on");
    });
  });

</script>