<div class="col-md-4">
  <div class="card mb-4 box-shadow portfolio-item" data-id="<%= portfolio_item.id %>">
    <%= link_to (image_tag portfolio_img(portfolio_item.thumb_image, 'thumb'), class: "rounded-top", width: '100.2%'), portfolio_show_path(portfolio_item.id), class: "slide-page" %>
    <div class="card-body">
      <div class="card-text">
        <%= portfolio_item.title %>
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <small class="text-muted"> <%= seconds = (Time.now.utc - 
                                        Time.new(portfolio_item.created_at.year, portfolio_item.created_at.month, portfolio_item.created_at.day, portfolio_item.created_at.hour, portfolio_item.created_at.min, portfolio_item.created_at.sec, "+00:00")).to_i;
                                        minutes = (seconds / 60).to_i;
                                        hours = (minutes / 60).to_i; 
                                        days = (hours / 24).to_i;
                                        months = (days / 30).to_i;
                                        years = (months / 12).to_i;
                                        return_string = "Project created "
                                        if years > 0
                                          temp = return_string + years.to_s + " year"
                                          if years > 1
                                            temp = temp + "s"
                                          end
                                          if months > 0
                                            temp = temp + " and " + months.to_s + " months ago"
                                          else
                                            temp = temp + " ago"
                                          end
                                          temp
                                        elsif months > 0
                                          return_string + months.to_s + " months ago"
                                        elsif days > 0
                                          return_string + days.to_s + " days ago"
                                        elsif hours > 0
                                          return_string + hours.to_s + " hours ago"
                                        elsif minutes > 0
                                          return_string + minutes.to_s + " minutes ago" 
                                        else
                                          return_string+ seconds.to_s + " seconds ago" 
                                        end %> </small>
      </div>
    </div>
  </div>
</div>
