<section class="jumbotron-custom text-center text-light">
  <div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
        <div class="container masthead-contain rounded p-4">
          <h1>Project Portfolio</h1>
          
          <p class="lead">Below are some of my favorite projects that I have worked on in the last two years.
            Some of these projects I created for school, others I created for work, but the most interesting ones were created for fun.
          </p>
          <hr>
          <%= render 'shared/blog_social_links' %>
        </div>
    </div>
    <div class="col-md-3">

    </div>
  </div>
</section>

