<footer class=" portfolio-footer text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
      <i class="far fa-hand-point-up"></i>
    </p>
    <p><%= copyright_generator %></p>
  </div>
</footer>
