
<section class="jumbotron text-center">
  <div class="container masthead-contain">
    <h1><%= link_to 'My Portfolio', portfolios_path, class: 'jumbotron-heading' %></h1>
    <p class="lead text-muted">Below are some of my favorite projects that I have worked on in the last two years.
      Some of these projects I created for school, others I created for work, but the most interesting ones (in my opinion) were created for fun.
    </p>
  </div>
  <%= image_tag "inspiring-quote.png", id: 'portfolio_quote', alt: "Profile Image" %>
  <%= render 'shared/blog_social_links' %>
</section>

