<section class="jumbotron text-center">
  <div class="container">
    <h1><%= link_to 'My Portfolio', portfolios_path, class: 'jumbotron-heading' %></h1>
    <p class="lead text-muted">A collection of a few of the projects I have worked on and 
    descriptions of my contributions. Many of the projects I have worked on don&apos;t have a UI,
    so the items below serve only as quick summaries of the projects</p>
    <p>
      <%= link_to 'Find out more about me', about_me_path, class: 'btn btn-primary' %>
      <%= link_to 'Check out my blog', blogs_path, class: 'btn btn-secondary' %>
    </p>
  </div>
</section>
