<%= render 'portfolio_masthead'%>

<div class="album py-5 bg-dark">
  <div class="container">

    <%= source_helper('alert alert-info alert-dismissible fade show') %>

    <% if session[:first_visit_portfolio] <= 2 %>
      <div class="alert alert-dark alert-dismissible fade show" role="alert">
        Try moving us around!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>

    <div class="row sortable">

      <%= render partial: 'portfolio_item', collection: @portfolio_items %>

    </div>

  </div>
</div>