<header class="masthead mb-auto">
  <div class="inner masthead-items">
    <div class="container">
      <a href="/"><h3 class="masthead-brand">Adrian Guzman</h3></a>
    </div>
    <!-- <span class="social-links">
      <%= render 'shared/social_links' %>
    </span> -->
    <nav class="navbar nav-masthead justify-content-center app-nav navbar-expand-lg">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-align-justify"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <%= nav_helper 'nav-link', 'li', 'nav-item' %>
          <%= login_helper 'nav-link', 'li', 'nav-item' %>
        </ul>
      </div>
    </nav>
  </div>
</header>
