<div class="blog-sidebar border-left-blue">

  <div class="info-text-box text-muted">
    <div class="first-msg visible">
      This 1 blog contains in depth descriptions of some of my favourite projects I have worked on.
      Check them out and comment if you're interested!
    </div>
    <div class="hidden">
      This 2 blog contains in depth descriptions of some of my favourite projects I have worked on.
      Check them out and comment if you're interested!
    </div>
    <div class="last-msg hidden">
      This 3 blog contains in depth descriptions of some of my favourite projects I have worked on.
      Check them out and comment if you're interested!
    </div>
  </div>

  <%= source_helper("alert alert-info alert-dismissible fade show blog-sidebar-source") %>

</div>

<script src="js/blog_sidebar_animation.js"></script>
