<div class="blog-sidebar border-left-blue">

  <div class="info-text-box text-muted">
    <div class="first-msg visible">
      This blog contains in depth descriptions of some of my favourite projects I have worked on.
      Check them out and comment if you're interested!
    </div>
    <div class="hidden">
      Did you know the python programming language is named after the Monty Python movie series?
      It was designed as a fun language, hence the fun name.
    </div>
    <div class="hidden">
      Did you know the average cloud weighs ~1.1 million pounds?
      It floats on the higher density air below it.
      Thats a lot of H3O+, Cl−, NO−3, SO2−4, NH+4 and H2O2!
    </div>
    <div class="last-msg hidden">
      There is a Georgian word 'Shemomechama' meaning 'I accidentally ate the whole thing'?
      A useful word when your friend goes to the bathroom at Korean BBQ.
    </div>
  </div>

  <%= source_helper("alert alert-info alert-dismissible fade show blog-sidebar-source") %>

</div>

<script src="js/blog_sidebar_animation.js"></script>
