<div class="blog-sidebar border-left-blue">

  <div class="info-text-box text-muted">
    <div class="first-msg visible">
      This blog contains in depth descriptions of some of my favourite projects I have worked on.
      Check them out and comment if you're interested!
    </div>
    <div class="hidden">
      This blog contains in depth descriptions of some of my favourite projects I have worked on.
      Check them out and comment if you're interested!
    </div>
    <div class="last-msg hidden">
      This blog contains in depth descriptions of some of my favourite projects I have worked on.
      Check them out and comment if you're interested!
    </div>
  </div>

  <%= source_helper("alert alert-info alert-dismissible fade show blog-sidebar-source") %>

</div>

<script type="text/javascript">
function random_no(){
     var ran=Math.random();
     jQuery('.blog-sidebar').html(ran);
}

function change_text(fade_time){
    var displayed = $( ".visible" )[0]
    if ($(displayed).hasClass("last-msg")) {
      var next_displayed = $(".first-msg")[0];
    }
    else {
      var next_displayed = $(displayed).next();
    }
    $(displayed).slideUp(fade_time)
    $(displayed).removeClass("visible");
    setTimeout(function(){
      $(next_displayed).slideDown(fade_time);
      $(next_displayed).removeClass("hidden").addClass("visible");
    }, fade_time+100);
}
           
//window.setInterval(function(){
       /// call your function here
//      random_no();
//}, 6000);
$(".hidden").hide();
window.setInterval(function(){
    //$(".visible").next().addClass("visible");
    change_text(800)
    //$(".visible").removeClass("visible");
    //$(".visible").show("slide", { direction: "right" }, 400);
}, 4000)
</script>
