<div class="border-left-blue">
  <ul class="list-unstyled">
    <%= nav_helper 'Blog', 'blog-nav', 'div', 'pb-1 scroll-out' %>
    <div class="pt-3"></div>
    <%= login_helper 'blog-nav', 'div', 'scroll-out' %>
  </ul>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $(".scroll-out").on('click',function(e){
        //e.preventDefault();
        $(this).hide("slide", { direction: "right" }, 600);
    });
    });
</script>