<div class="border-left-blue">
  <ul class="list-unstyled">
    <%= nav_helper 'Blog', 'blog-nav transition scroll-out', 'div', 'pb-1' %>
    <div class="pt-3"></div>
    <%= login_helper 'blog-nav transition scroll-out', 'div', 'pb-1' %>
  </ul>
</div>