<div class="blog-sidebar border-left-blue">

  <div class="text-muted">
    <p class="">
      This blog contains in depth descriptions of some of my favourite projects I have worked on.
      Check them out and comment if you're interested!
    </p>
  </div>

  <%= source_helper("alert alert-info alert-dismissible fade show blog-sidebar-source") %>

</div>
