<div class="pl-3"> 
 <div class="row blog-header">
    <div class="col-12">
      <span class="masthead">Project: Blog</span>
    </div>
  </div>
  <div class="text-white pt-3">
      <%= render 'shared/blog_topic_nav' %>
  </div>
</div>