<a href="https://github.com/Adrian658" target="_blank"><i class="fab fa-github transition"></i></a>
<a href="https://www.facebook.com/adrian.guzman.7528" target="_blank"><i class="fab fa-facebook transition"></i></a>
<a href="https://www.linkedin.com/in/adrian-guzman-897bb1149/" target="_blank"><i class="fab fa-linkedin transition"></i></a>
