<div class="row pt-5">

  <div class="col-md-12">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6" id="about-nav">
        <div id="about-nav-container">
          <div id="professional-btn" class="my-btn transition">Professional</div>
          <div id="personal-btn" class="my-btn transition">Personal</div>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>

  <div class="about-me-container">
      <%= render 'about_me_professional' %>

      <%= render 'about_me_personal' %>
  </div>

  <div class="col-md-12 pt-5">
      <div class="jumbo-about p-5">
        <h2>What I&apos;m up to right now</h2>
        <p>Continuing to develop and improve on this portfolio website</p>
        <hr class="about-me-hr-jumbo" align="left" width="70px">
        <p>Building photography portfolio</p>
        <hr class="about-me-hr-jumbo" align="left" width="70px">
      </div>
  </div>
</div>


<script>

  function slide_hr() {
    $(".about-me-hr").hide().css("visibility", "visible");
    $(".about-me-hr").show("slide", {direction: "left"}, 2000);
  }

  function slide_buttons() {
    //$("#about-me").css("top", "40px");
    $(".buttons").hide().css("visibility", "visible");
    $(".buttons").delay(800).show("fade", {direction: "down"}, 1000);
  }

  function button_hover() {
    $(".my-btn").hover(function(e){
      $(this).addClass("my-btn-on btn-size-md");
    }, function(e){
      $(this).removeClass("my-btn-on btn-size-md");
    });
  }

  function transition_about() {
    $("#personal-btn").on("click", function(e){
      $("#about-professional").css("left", "-100%").css("opacity", "0");
      $("#about-personal").css("left", "-100%").css("opacity", "1");
    });
    $("#professional-btn").on("click", function(e){
      $("#about-professional").css("opacity", "1").css("left", "0");
      $("#about-personal").css("opacity", "0").css("left", "0");
    });
  }

  $(document).ready(function(){
    slide_hr();
    slide_buttons();
    button_hover();
    transition_about();
  });

</script>
