<div class="inner cover">
  <h1>About Me</h1>
  <hr>
  <div class="row">
    <div class="4">
      <!-- https://www.planwallpaper.com/static/images/Orange-background.png -->
      <%= image_tag "ProfilePic.JPG", width: 300, alt: "Profile Image" %>
    </div>
    <div class="8">
      <p>LOLOLOLOL</p>
    </div>
  </div>
</div>
