<div class="row pt-5">

  <div class="col-md-12">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8" id="about-nav">
        <div id="about-nav-container">
          <div id="professional-btn" class="">Professional</div>
          <div id="personal-btn" class="">Personal</div>
        </div>
        <hr id="about-nav-hr" class="transition-slow">
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>

  <div class="about-me-container mb-5">
      <%= render 'about_me_professional' %>

      <%= render 'about_me_personal' %>
  </div>

</div>


<script>

  function slide_hr(hr) {
    $(hr).hide().css("visibility", "visible");
    $(hr).show("slide", {direction: "left"}, 2000);
  }

  function fade_buttons(buttons) {
    $(buttons).hide().css("visibility", "visible");
    $(buttons).delay(800).show("fade", {direction: "down"}, 1000);
  }

  function button_hover() {
    $(".my-btn").hover(function(e){
      $(this).addClass("my-btn-on");
    }, function(e){
      $(this).removeClass("my-btn-on");
    });
  }

  function prof_pers_in() {
    $("#professional-btn").hide().show("puff", {direction: "down"}, 2000);
    $("#personal-btn").hide().show("puff", {direction: "down"}, 2000);
  }

  function transition_about() {
    $("#personal-btn").on("click", function(e){
      $('#about-nav-hr').css("left", "86%").css("width", "14%");
      $("#about-professional").css("left", "-100%").css("opacity", "0");
      $("#about-personal").css("left", "-100%").css("opacity", "1");
      slide_hr("#personal-hr");
      fade_buttons("#personal-buttons");
      slide_progress_bars("progress-personal", "progress-professional");
    });
    $("#professional-btn").on("click", function(e){
      $('#about-nav-hr').css("left", "0").css("width", "19%");
      $("#about-professional").css("opacity", "1").css("left", "0");
      $("#about-personal").css("opacity", "0").css("left", "0");
      slide_hr("#professional-hr");
      fade_buttons("#professional-buttons");
      slide_progress_bars("progress-professional", "progress-personal");
    });
  }

  function slide_progress_bars(fill, empty) {
    "<% @skills.each do |skill| %>"
      var skill_select = $(".<%= skill.id %>");
      if (skill_select.hasClass(fill)) {
        skill_select.css("width", "<%= skill.percent_utilized %>%");
      }
      else {
        skill_select.css("width", "0%");
      }
    "<% end %>"
  }

  $(document).ready(function(){
    slide_hr("#professional-hr");
    fade_buttons("#professional-buttons");
    button_hover();
    transition_about();
    slide_progress_bars("progress-professional", "progress-personal");
    prof_pers_in();
  });

</script>
