<main role="main" class="inner cover home-page">
  <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-12">
      <div class="text-shadow landing-greeting">
        <h1 class="cover-heading">Hello, world!</h1>
        <div id="typed-strings">
            <p class="lead">This is my professional portfolio</p>
            <p>This is also my personal portfolio</p>
            <p class="lead">Feel free to navigate around and get to know me</p>
            <p>01000101 01101110 01101010 01101111 01111001 00100001</p>
        </div>
        <span id="typed"></span>
        <div>
          <%= link_to "Check me out", about_me_path, class: "my-btn transition mr-4 mt-3" %>
          <%= link_to "Check my portfolio out", portfolios_path, class: "my-btn transition mt-3" %>
        </div>      
      </div>      
    </div>
    <div class="col-md-6">

    </div>
  </div>
</main>

<script>
  $(document).ready(function(){
    $(".cover-heading").show("fade", { direction: "up" }, 1000);
  });

  $( window ).unload(function() {
   $(".cover-heading").clearQueue();
   $(".cover-heading-forgot").clearQueue();
  });

  $(document).ready(function(){
    $(".my-btn").hover(function(e){
      $(this).addClass("my-btn-on btn-size-sm");
    }, function(e){
      $(this).removeClass("my-btn-on btn-size-sm");
    });
  });

  var typed = new Typed('#typed', {
    stringsElement: '#typed-strings',
    typeSpeed: 40,
    backSpeed: 40,
    backDelay: 4000,
    loop: true,
    loopCount: Infinity,
    contentType: 'html',
    smartBackspacing: true
  });
</script>
