<main role="main" class="inner cover home-page">
  <div class="row">
    <div class="col-md-6">
      <span class="text-shadow">
        <h1 class="cover-heading">Hello, world!</h1>
        <p class="lead">This is my personal and professional portfolio</p>
        <p class="lead">Feel free to navigate around and get to know me</p>
      </span>
      <%= link_to "About Me", about_me_path, class: "btn btn-lg about-me-btn" %>
    </div>
    <div class="col-md-6">

    </div>
  </div>
</main>
<!--  -->
