<main role="main" class="inner cover home-page">
  <div class="row">
    <div class="col-md-6">
      <h1 class="cover-heading">Welcome!</h1>
      <p class="lead">This is my professional and personal portfolio</p>
      <p class="lead">Feel free to navigate around and get to know me</p>
      <%= link_to "About Me", about_me_path, class: "btn btn-lg about-me-btn" %>
    </div>
    <div class="col-md-6">

    </div>
  </div>
</main>
<!--  -->
