@import "bootstrap";


/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */
html,
body {
  overflow-x: hidden;
  //background-color: #333;

}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  //box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);

  min-height: 100%;
  height: auto;
  position: absolute;
  width: 100%;
}

/*
 * Header
 */

.new-nav {
  background-color: rgba(49, 49, 49, 0.6);
  border-bottom: 1px solid #fff;
  margin-bottom: 2rem;
  //height: 5rem;
  margin-top: 1rem;
  padding-top: 10px;
  width: 100%;
}

.new-nav .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.new-nav .nav-link:hover,
.new-nav .nav-link:focus {
  border-bottom-color: rgba(245, 109, 69, 0.6);
  width: -webkit-max-content;
}

.new-nav .active {
  color: #fff;
  border-bottom-color: rgba(245, 109, 69, 1);
  width: -webkit-max-content;
}

.navbar-nav {
  padding-top: 8px;
}

.nav-item {
  margin-right: 1rem;
}

.navbar-brand {
  font-size: 28px;
  font-family: Raleway, Open Sans, Arial, sans-serif;
  margin-left: 15px;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
    margin-top: 4px;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover-about {
  padding-top: 1%;
}

.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: white;
  //width: inherit;
}

//Custom styles
.starter-template {
  padding: 6rem;
}

.card-body {
  color: black;
  text-align: left;
}

.auth-links a {
  color: black;
}

.auth-links {
  margin-top: 15px;
}

.login > .card {
  width: 22rem;
  margin: 0 auto;
  float: none;
}

.app-nav > span {
  margin-left: 1rem;
  margin-right: 1rem;
}

.home-page {
  padding-top: 6rem;
}

.bg-light {
  background-color: transparent;
}

.navbar-expand-lg .navbar-nav .nav-link {
  margin-right: 1rem;
}

.navbar-toggler {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: .25rem;
}

button .fas {
  //color: #fff;
  color: rgba(255, 255, 255, 0.5);
}

#background {
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  //top: 50%;
  //left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  z-index: -100;
  //-webkit-transform: translateX(-50%) translateY(-50%);
  //transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

.bottom-hr {
  height: 0.3px;
  width: 100%;
  background-color: white;
}

.home-page {
  text-align: left;
  margin-left: 3rem;
  font-family: 'Raleway', sans-serif;
  height: 26rem;
}

.cover-heading {
  font-size: 4rem;
}

.tech-heading {
  font-size: 4rem;
  padding-top: 30px;
  font-family: 'Raleway', sans-serif;
}

.about-me-btn {
  margin-top: 20px;
  background-color: #F56D45;
}

.about-me-btn:hover {
  background-color: rgba(245, 109, 69, 0.74);
}

.custom-container {
  margin-left: 5%;
  margin-right: 5%;
}

.app-footer {
  text-align: center;
}

.source-greeting {
  text-align: center;
}

.alert {
  height: 50px;
  background-color: rgba(245, 109, 69, 0.4);
}

.navbar-nav > li > a:active {
  border-bottom-color: #F56D45;
}

.about-me-container {
  font-family: 'Raleway', sans-serif;
}

.about-me-hr {
  background-color: #F56D45;
  height: 4px;
}

.about-me-hr-jumbo {
  background-color: #F56D45;
  height: 2px;
  margin-top: 2px;
}

.jumbotron > p {
  margin-bottom: 0;
}

.jumbotron > h2 {
  padding-bottom: 10px;
}

.contact-body > h1 {
  text-align: center;
}

.jumbo-contact {
  margin-top: 30px;
  background-color: rgba(49, 49, 49, 0.6);
  color: white;
}

.jumbotron {
  padding: 2rem 2rem;
}

.profile-pic {
  //border-radius: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 100%;
}

.profile-pic-bgd {
  background-color: rgba(49, 49, 49, 0.4);
}

#CWRU-link {
  color: #F56D45;
}

.about-me-statement {
  background-color: rgba(49, 49, 49, 0.2);
  padding: 10px;
  width: 100%;
  height: 100%;
}

.jumbo-about {
  margin-top: 30px;
  background-color: rgba(49, 49, 49, 0.6);
  color: white;
}

.doc-button {
  border-color: rgba(49, 49, 49, 0.4);//#F56D45;
  background-color: #F56D45;//rgba(49, 49, 49, 0.4);
}

.doc-button-left {
  margin-right: 45px;
}

.doc-button:hover {
  background-color: rgba(245, 109, 69, 0.74);
}

.skills {
  margin-top: 40px;
  background-color: rgba(245, 109, 69, 0.5);
  text-align: center;
  color: white;
}

.skill {
  margin-top: 10px;
  margin-bottom: 10px;
}

.hobbies {
  margin-top: 40px;
  background-color: rgba(49, 49, 49, 0.6);
  height: 200px;
  text-align: center;
  color: white;
}

.tech-news {
  color: black;
  margin: 20px;
}

.tech-news a {
  color: #F56D45;
}

.tech-news {
  padding: 30px;
  max-height: 200px;
  background-color: rgba(49, 49, 49, 0.4);
  color: white;
}

.bg-custom {
  background-color: #F56D45;
}

.buttons {
  margin-top: 40px;
}

.placeholder {
  background-color: black;
}

.contact-hr-jumbo {
  margin-bottom: 50px;
  background-color: #F56D45;
  height: 2px;
}

.col-custom {
  background-color: rgba(49, 49, 49, 0.6);
  padding-top: 10px;
  padding-left: 8px;
  padding-bottom: 0.1px;
  border-left: 3px solid rgba(245, 109, 69, 1);
  margin-bottom: 10px;
}

.text-shadow {
  text-shadow: 2px 1px 3px #6c757d;
}
