//@import "jquery-ui";
@import "bootstrap";
@import "font-awesome";
@import "gritter";

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */
html,
body {
  overflow-x: hidden;
  height: 100%;
  //background-color: #333;

}

.main-row {
  display: flex;
  min-height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  //box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);

  min-height: 100%;
  height: auto;
  position: absolute;
  width: 100%;
}

/*
 * Header
 */

.new-nav {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.8);;
  //border-bottom: 1px solid rgb(255, 255, 255);
  //margin-bottom: 2rem;
  //height: 5rem;
  //margin-top: 1rem;
  padding-top: 10px;
  //width: 100%;
}

.new-nav .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;

  position: relative;
  left: 0px;
}

.transition {
  -webkit-transition: all 500ms ease-in-out; 
  -moz-transition: all 500ms ease-in-out; 
  -o-transition: all 500ms ease-in-out; 
  transition: all 500ms ease-in-out;
}

.transition-slow {
  -webkit-transition: all 1000ms ease-in-out; 
  -moz-transition: all 1000ms ease-in-out; 
  -o-transition: all 1000ms ease-in-out; 
  transition: all 1000ms ease-in-out;
}

.new-nav .nav-link:hover,
.new-nav .nav-link:focus, {
  //border-bottom-color: rgba(245, 109, 69, 0.6);
  width: -webkit-max-content;

  left: -4px;
  color: whitesmoke;
  //border-bottom-color: skyblue;
}

.nav-item a:after {
  content: '';
  padding-top: 4px;
  display: block;
  border-bottom: 3px solid skyblue;
  width: 0;
  -webkit-transition: 0.75s ease;
          transition: 0.75s ease;
}

.nav-item a:hover:after { 
  width: 100%; 
}

.new-nav .active {
  color: white;
  width: -webkit-max-content;
}

.new-nav .active:after {
  content: '';
  border-bottom: 3px solid rgba(0,123,255, 1) !important;
}

.navbar-nav {
  padding-top: 8px;
}

.nav-item {
  margin-right: 1rem;
}

.navbar-brand {
  font-size: 28px;
  font-family: Raleway, Open Sans, Arial, sans-serif;
  margin-left: 15px;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
    margin-top: 4px;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover-about {
  padding-top: 1%;
}

.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: white;
}

//Custom styles
.starter-template {
  padding: 6rem;
}

.card-body {
  color: black;
  text-align: left;
}

.auth-links a {
  color: black;
}

.auth-links {
  margin-top: 15px;
}

.login > .card {
  width: 22rem;
  margin: 0 auto;
  float: none;
}

.app-nav > span {
  margin-left: 1rem;
  margin-right: 1rem;
}

.home-page {
  padding-top: 6rem;
}

.bg-light {
  background-color: transparent;
}

.navbar-expand-lg .navbar-nav .nav-link {
  margin-right: 1rem;
}

.navbar-toggler {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: .25rem;
}

button .fas {
  //color: #fff;
  color: rgba(255, 255, 255, 0.5);
}

#background {
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  //top: 50%;
  //left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  z-index: -100;
  //-webkit-transform: translateX(-50%) translateY(-50%);
  //transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

.bottom-hr {
  height: 0.3px;
  width: 100%;
  background-color: white;
  visibility: hidden;
}

.top-hr {
  margin-top: 0px;
  height: 0.3px;
  width: 100%;
  visibility: hidden;
  background-color: white;
}

.home-page {
  text-align: left;
  margin-left: 3rem;
  font-family: 'Raleway', sans-serif;
  height: 26rem;
}

.cover-heading {
  font-size: 4rem;
  display: none;
}

.tech-heading {
  font-size: 4rem;
  padding-top: 30px;
  font-family: 'Raleway', sans-serif;
}

.my-btn {
  color: whitesmoke;
  background-color: rgba(0,123,255, 1);
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.my-btn-on {
  background-color: white;
  text-decoration: none !important;
  color: black !important;
}

.btn-size-sm {
  padding-left: 3.0em;
  padding-right: 3.0em;
}

.btn-size-md {
  padding-left: 3.8em;
  padding-right: 3.8em;
}

.custom-container {
  padding-left: 8%;
  padding-right: 8%;
}

.app-footer {
  visibility: hidden;
  text-align: center;
}

.source-greeting {
  text-align: center;
}

.alert {
  height: 50px;
  background-color: rgba(245, 109, 69, 0.4);
}

.about-me-hr {
  visibility: hidden;
  background-color: rgba(0,123,255, 1);
  height: 4px;
  border: none;
  position: relative;
}

.about-me-hr-jumbo {
  background-color: #F56D45;
  height: 2px;
  margin-top: 2px;
}

#about-me {
  font-size: 1.7em;
  position: relative;
  top: 0;
}

.about-me-statement {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  width: 100%;
  height: 100%;
}

.about-me-header {
  margin-top: 20px;
  width: 100%;
  display: inline-flex;
}

#about-nav-container {
  display: flex;
  justify-content: space-between;
}

#professional-btn, #personal-btn {
  cursor: pointer;
  font-size: 1.8em;
}

#about-nav-hr {
  margin-top: 0px;
  width: 19%;
  height: 4px;
  background-color: rgba(0,123,255, 1);
  position: relative;
  left: 0;
  margin: 0 auto 0 0;
}

#about-professional {
  position: relative;
  left: 0;
  transition: all 1s ease-in-out;
  opacity: 1;
}

#about-personal {
  position: relative;
  left: 0;
  transition: all 1s ease-in-out;
  opacity: 0;
}

.about-me-container {
  display: inline-flex;
}

.buttons {
  visibility: hidden;
  margin: auto;
}

.jumbotron > p {
  margin-bottom: 0;
}

.jumbotron > h2 {
  padding-bottom: 10px;
}

.contact-body > h1 {
  text-align: center;
}

.jumbo-contact {
  margin-top: 30px;
  background-color: rgba(49, 49, 49, 0.6);
  color: white;
}

.jumbotron {
  //padding: 2rem 2rem;
}

.profile-pic {
  //border-radius: 50%;
  //padding-top: 10px;
  //padding-bottom: 10px;
  width: 100%;
  height: 100%;
}

#cf img {
  position:absolute;
  left:0;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

#cf img.top:hover {
  opacity:0;
  //bottom: 40px;
  //height: 321px;
}

#CWRU-link {
  color: skyblue;
}

.jumbo-about {
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.doc-button {
  border-color: rgba(49, 49, 49, 0.4);//#F56D45;
  background-color: #F56D45;//rgba(49, 49, 49, 0.4);
}

.doc-button-left {
  margin-right: 45px;
}

.doc-button:hover {
  background-color: rgba(0,123,255, 1);
}

.skills {
  margin-top: 40px;
  background-color: rgba(0,123,255, 1);
  text-align: center;
  color: white;
}

.skill {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  left: 0;
}

.skill:hover {
  left: -20px;
}

.progress {
  border-radius: 0px;
}

.progress-bar {
  border-radius: 0px;
  background-color: rgba(0,123,255, 1);
}

.hobbies {
  margin-top: 40px;
  background-color: rgba(49, 49, 49, 0.6);
  height: 200px;
  text-align: center;
  color: white;
}

.tech-news {
  color: black;
  margin: 20px;
}

.tech-news a {
  color: rgba(0,123,255, 1);
}

.tech-news {
  padding: 30px;
  max-height: 200px;
  background-color: rgba(49, 49, 49, 0.4);
  color: white;
}

.placeholder {
  background-color: black;
}

.contact-hr-jumbo {
  margin-bottom: 50px;
  background-color: #F56D45;
  height: 2px;
}

.col-custom {
  background-color: rgba(49, 49, 49, 0.6);
  padding-top: 10px;
  padding-left: 8px;
  padding-bottom: 0.1px;
  border-left: 3px solid rgba(245, 109, 69, 1);
  margin-bottom: 10px;
}

.text-shadow {
  text-shadow: 2px 1px 3px #6c757d;
}

.landing-greeting {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 2rem;
}
