//@import "jquery-ui";
@import "bootstrap";
@import "font-awesome";
@import "gritter";

/* stylelint-disable selector-list-comma-newline-after */
body {
  font-family: 'Montserrat', sans-serif;
  //overflow-x: hidden;
}

.blog-header {
  margin-top: 50px;
  line-height: 1;
  font-weight: 400;
  font-size: 2.2rem;
  font-family: 'Montserrat', sans-serif;
  //border-bottom: 1px solid #e5e5e5;
}

.masthead {
  color: rgb(231, 226, 226);
}

.new-sidebar {
  padding-left: 4rem;
  padding-right: 4rem;
  background-color: #343a40;
}

.blog-header-logo {
  font-family: 'Montserrat', sans-serif;
  //font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}


h1, h2, h3, h4, h5, h6 {
  //font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

#secondary-nav {
  width: 100%;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
  text-align: right;
}

.btn-outline-secondary {
  margin-right: 1rem;
}

.nav-scroller .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.blog-nav {
  padding-top: 2rem;
  color: #7D8188;
}

.description {
  color: #7D8188;;
}

.blog-nav:hover {
  color: #7D8188;
}

li > .active {
  color: white;
}

.active:hover {
  color: white;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

/*
 * Blog name and description
 */
.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
}
.blog-description {
  font-size: 1.1rem;
  color: #999;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

.hr-divider {
  background-color: lightgray;
  height: 1px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  //margin-top: 2px;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
  font-size: 1.0rem;
  color: #999;
}
.blog-post-title {
  text-align: center;
  margin-bottom: .25rem;
  font-size: 2.0rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
  font-size: 0.7rem;
}

.blogs {
  background-color: #f0f0f0;
}

.blog-nav {
  padding-top: 0px;
  text-transform: uppercase;
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
  //margin-top: 20px;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.social-links a {
  font-size: 2.5em;
  color: #B3B2AD;
  padding-right: 15px;
}

.social-links a:hover {
  color: #343a40;
}

.blue-links a {
  color: #343a40;
}

.blog-body-index a {
  color: #555555;
  text-decoration: underline;
}

.blog-body-index a:hover {
  color: #333333;
}

.featured-link {
  color: white;
}

.btn-secondary {
  background-color: #f8f9fa;
  border-color: #f8f9fa;
  color: black;
}

a.page-link {
  color: black;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

a.page-link:hover {
  color: black;
}

.page-item.active .page-link {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

#back-button {
  margin-bottom: 18px;
}

.blog-post-title > a:hover {
  text-decoration: none;
}

.blog-footer a {
  color: #BBB;
}

.comment-card > .card {
  margin-top: 15px;
}

.comment-attribution {
  font-size: .8em;
  font-style: italic;
}

.blogcrumbs > a {
  margin-right: 0px;
}

.blogcrumbs > a:hover {
  color: black;
}

.blog-sidebar-source {
  margin-top: 20px;
}

.font-change {
  font-family: 'Raleway', sans-serif;
}

.blog-main {
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 5rem;
}

.topic-show {
  //text-align: center;
  margin-bottom: 10px;
}