//@import "jquery-ui";
@import "bootstrap";
@import "font-awesome";
@import "gritter";

/* stylelint-disable selector-list-comma-newline-after */
body {
  font-family: 'Montserrat', sans-serif;
  background-color: black;
  //overflow-x: hidden;
}

.blog-header {
  margin-top: 50px;
  line-height: 1;
  font-weight: 400;
  font-size: 2.2rem;
  font-family: 'Montserrat', sans-serif;
  //border-bottom: 1px solid #e5e5e5;
}

.masthead {
  color: rgb(231, 226, 226);
}

.new-sidebar {
  padding-left: 4rem;
  padding-right: 4rem;
  height: 100%;
}

.blog-header-logo {
  font-family: 'Montserrat', sans-serif;
  //font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}


h1, h2, h3, h4, h5, h6 {
  //font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

#secondary-nav {
  width: 100%;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
  text-align: right;
}

.btn-outline-secondary {
  margin-right: 1rem;
}

.nav-scroller .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.blog-nav {
  padding-top: 2rem;
  color: #7D8188;
}

.border-left-blue {
  border-left: 3px solid #007bff;
  padding-left: 12px;
}

.muted-text {
  color: #7D8188;;
}

div > .active {
  color: #007bff;
}

.back-btn, .back-btn > a {
  //background-color: rgba(0,123,255, 1);
  text-align: center;
  //width: 20%;
  padding: 0px;
  color: rgb(0,123,255);
  font-size: 2rem;
}

.back-btn > a:active {
  color: skyblue;
}

.imgimg {
  border-radius: 0px 50px 0px 0px;
}

.menu-btn {
  background-color: rgba(0,123,255, 0.8);
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 3000;
}

.menu-btn > a {
  color: rgb(230, 230, 230);
}

.menu-btn > a:hover{
  color: white;
  text-decoration: none;
}

.btn-on {
  background-color: rgba(0,0,0, 0.8) !important;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-on > a {
  color: whitesmoke !important;
}

.transition {
  -o-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  /* ...and now for the proper property */
  transition: all 200ms ease-in-out;
}

.blog-container {
  //padding: 1rem;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.6);
  border-radius: 0px 50px 50px 0px;
  z-index: 4000;
}

.comment-btn {
  background-color: whitesmoke;
  width: 30%;
  
  z-index: 3000;
  text-align: center;
  margin: auto;
  border-radius: 0px 0px 20px 20px;
  padding-top: 2rem;
  padding-bottom: 1rem;
  //box-shadow: 0 6px 10px 4px rgba(0, 0, 0, 0.6);
}

.comment-btn > a {
  //font-style: italic;
  //font-weight: bold;
  color: rgba(0,123,255, 1);
}

.comment-btn > a:hover {
  color: white;
  text-decoration: none;
}

.comment-hr {
  margin: 0px;
}

.comments-hide {
  display: none;
  //background-color: rgba(1, 96, 197, 1);
  background-color: rgba(1, 58, 119, 0.95);
  width: 70%;
  margin: 0 auto;
  box-shadow: inset 0 4px 10px 2px rgba(0, 0, 0, 0.6);
  min-height: 100px;
  max-height: 1000px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

.link-container > p > a {
  color: rgb(230, 230, 230);
  text-decoration: none;
}

.link-container > p > a:hover {
  color: white;
  text-decoration: none;
}

.active:hover {
  color: white;
}

.social-links a {
  font-size: 2.5em;
  color: rgb(230, 230, 230);
  padding-right: 15px;
}

.blue-links a {
  color: #343a40;
}

.blog-nav:hover, .social-links a:hover {
  color: skyblue;
  text-decoration: none;
}

.submit-cmt-btn {
  background-color: rgba(0,123,255, 0.9);
  color: whitesmoke;
  border-radius: 0px;
}

.cmt-btn-on {
  background-color: skyblue !important;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white !important;
}

.header {
  background: none;
  position: relative;
  display: none;
  z-index: 2000;
  box-shadow: 0 8px 5px -5px rgba(0, 0, 0, 0.6), 8px 0 5px -5px rgba(0, 0, 0, 0.6), 0 10px 4px 4px rgba(0, 0, 0, 0.6), 0 0 0 0 rgba(0, 0, 0, 0.6);
}

.link-container {
  background-color: rgba(0,123,255, 0.8);
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

/*
 * Blog name and description
 */
.blog-title {
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 400;
  color: black;
  overflow-wrap: break-word;
}

.blog-description {
  font-size: 1.1rem;
  color: #999;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 1.5rem;
  }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

.hr-divider {
  background-color: none;
  height: 1px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  //margin-top: 2px;
}

/*
 * Blog posts
 */
.blog-post {
  font-size: 1.0rem;
  color: #666;
  border: none;
}

.blog-post-summary {
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 5rem;
  font-size: 1.0rem;
  color: #999;
  border: none;
  //padding: 1rem;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.6);
}

.blog-post-title {
  color: black;
  margin-bottom: .25rem;
  font-size: 2.0rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
  font-size: 0.7rem;
}

.blog-show-updated_at {
  color: #999;
  font-size: 0.7rem;
}

#blog-show-hr {
  margin-top: 0.5rem;
}

.blogs {
  background-color: #f0f0f0;
}

.blog-nav {
  padding-top: 0px;
  text-transform: uppercase;
}

.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  //background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
  //margin-top: 20px;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.blog-body-index a {
  color: #999999;
  text-decoration: underline;
}

.blog-body-index a:hover {
  color: #666666;
}

.featured-link {
  color: white;
}

.btn-secondary {
  background-color: #f8f9fa;
  border-color: #f8f9fa;
  color: black;
}

a.page-link {
  color: black;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

a.page-link:hover {
  color: black;
}

.page-item.active .page-link {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.blog-post-title > a:hover {
  text-decoration: none;
}

.blog-footer a {
  color: #BBB;
}

.comment-card > .card {
  margin-bottom: 15px;
  background-color: inherit;
  border-radius: 0px;
}

.card-body {
  border-radius: 0px 50px 50px 0px;
}


.comment-attribution {
  font-size: .8em;
  font-style: italic;
}

#comments {
  //padding-bottom: 5rem;
}

.blogcrumbs > a {
  margin-right: 0px;
}

.blogcrumbs > a:hover {
  color: black;
}

.blog-sidebar-source {
  margin-top: 20px;
}

.font-change {
  font-family: 'Raleway', sans-serif;
}

.blog-main {
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  
}

.topic-show {
  //text-align: center;
  margin-bottom: 10px;
}

.bg-black {
  background-color: black;
}

.bg-stars {
  //background-image: url(finger.jpg);
  //background-position-x: 50%;
  //background-position-y: 10%; 
  //background-size: cover;
  //background-attachment: fixed;
  //background-repeat: no-repeat;
  //height: 5000px;
  background-color: rgb(0, 67, 138);
}

.bg-test {
  //background-color: rgba(0, 0, 0, 0.4);
}

.bg-none {
  background-color: rgba(0, 0, 0, 1);
  background-image: none;
  position: absolute;
  position: fixed;
}

.blog-index-title {
  font-size: 2rem;
  margin-bottom: 3rem;
  text-shadow: 2px 4px rgba(0, 0, 0, 0.3);
}

.bg-blog {
  background-color: rgba(240, 240, 240, 1);
  background-image: none;
}

.bg-blog-transparent {
  background-color: rgba(255, 255, 255, 0.9);
  background-image: none;
}

.blog-top-bar {
  height: 1rem;
  font-size: inherit;
}

.info-text-box {
  height: 6rem;
}

.author-image {
  border-radius: 50%;
}

.author-text {
  font-size: 0.8rem;
}

.hidden {
  display: none;
}