@import "jquery-ui";
@import "bootstrap";
@import "font-awesome";
@import "gritter";

:root {
  --jumbotron-padding-y: 3rem;
}

body {
  font-family: 'Cormorant Garamond', serif;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

#background {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.nav-item {
  margin-right: 1rem;
}

.jumbotron-heading {
  font-weight: 300;
  color: #212529;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.portfolio-footer a {
  color: #BBB;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.alert {
  background-color: #DDD;
  margin-top: 10px;
  width: 100%;
}

.portfolio-title {
  margin-right: 10px;
  color: #394047;
}

.navbar-show {
  background-color: #CCC;
  margin-bottom: 25px;
}

.jumbotron-heading:hover {
  color: #212529;
  font-size: 2.65rem;
  text-shadow: 2px 2px 3px #6c757d;
  text-decoration: none;
}

.alert-info {
  background-color: #d1ecf1;
}

.portfolio-container {
  padding-top: 40px;
}

.portfolio-item > img {
  height: 13rem;
}
